<!-- Individual Characters start here -->
<div id="Character" class="bg-base-200 rounded-full p-3 m-2 border-base-200 border flex flex-row">
    <div id="character-image" class="avatar">
        <div class="w-24 rounded-full">
          <img [src]="character.avatarURL" />
        </div>
    </div>
    <div id="character-name-race-level" (click)="openModal('character')" class="ml-5 mt-1 flex flex-col cursor-pointer">
        <h1 class="text-3xl text-gray-50 font-light md:text-5xl">{{ character.name }}</h1>
        <h2 class="text-sm text-gray-300 font-light mt-1 ml-2 md:text-lg">Level {{ character.level }} {{character.race}} {{character.class}}</h2>
    </div>
    <div id="right-anchor-icons" class="flex ml-auto">

        <div class="mt-auto mb-auto">
            <div class="tooltip tooltip-left" [attr.data-tip]="character.GP + ' GP'">
                <div class="font-bold text-yellow-600 rounded-full radial-progress mt-auto mb-auto mr-5 bg-base-100" role="progressbar" style="--value:100; --thickness: 4px;">{{ character.GP }} GP</div>
            </div>
        </div>

        <div class="mt-auto mb-auto">
            <div (click)="openModal('hp')" class="tooltip tooltip-left" [attr.data-tip]="character.HP +' / ' + character.maxHP + ' HP'">
                <div class="font-bold text-red-600 rounded-full radial-progress mt-auto mb-auto mr-5 bg-base-100" role="progressbar" [style.--value]="(character.HP / character.maxHP) * 100" style="--thickness: 4px;">{{ character.HP }} HP</div>
            </div>
        </div>

    </div>
</div>

<dialog #modal id="Character Sheet" class="modal">
  <div class="modal-box">
    <h1 class="text-3xl font-bold">Character Sheet</h1>
    <hr class="h-px my-2">
    <app-character-sheet [character]="character"></app-character-sheet>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button class="modal-close">close</button>
  </form>
</dialog>

<dialog #hpModal id="HP" class="modal">
  <div class="modal-box">
    <input type="number" #hpInput class="input" placeholder="Enter HP" />

    <div class="button-group">
      <button type="button" class="button p-1 rounded-lg text-black bg-red-500" (click)="addHP(hpInput.value)">Heal</button>
      <button type="button" class="button p-1 rounded-lg text-black bg-green-500" (click)="addHP('-' + hpInput.value)">Damage</button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button class="modal-close">close</button>
  </form>
</dialog>