.dice-canvas {
    height: 100%;
    width: 100%;
    z-index: 2147483647;
}

.dice-box-canvas {
    height: 100%;
    width: 100%;
    z-index: 2147483647;
}


.over-modal {
    z-index: 2147483647;
}