<div class="container">
  <header>
      <h1>User logged in: <span class="username" *ngIf="username; else noUser">{{ username }}</span></h1>
      <ng-template #noUser>No user logged in</ng-template>
  </header>

  <div class="modal" *ngIf="showModal">
      <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <form (submit)="submitCampaign()" class="campaign-form">
              <div class="form-group">
                  <label for="campaignName">Campaign Name:</label>
                  <input type="text" id="campaignName" class="form-control" [(ngModel)]="campaign.campaignName" name="campaignName" required>
              </div>
              <div class="form-group">
                  <label for="campaignDescription">Campaign Description:</label>
                  <textarea id="campaignDescription" class="form-control" [(ngModel)]="campaign.campaignDescription" name="campaignDescription" required></textarea>
              </div>
              <button type="submit" class="btn">Submit Campaign</button>
          </form>
      </div>
  </div>

  <button class="btn campaignCreate" (click)="openModal()">Create Campaign</button>

  <div class="campaign-grid">
      <div class="campaign-box" *ngFor="let campaign of campaigns">
        <div class="campaign-title" (click)="goToCampaign(campaign.id)">
          <h2>{{ campaign.name }}</h2>
        </div>
          <p>{{ campaign.description }}</p>


          <div class="campaign-menu">
            <div class="menu-button">⋮</div>
            <div class="menu-content">
                <span style="color: red;" *ngIf="userId == campaign.ownerId" (click)="deleteCampaign(campaign.id)">Delete Campaign</span>
                <span style="color: red;" *ngIf="userId != campaign.ownerId" (click)="leaveCampaign(campaign.id)">Leave Campaign</span>
            </div>
        </div>
      </div>
  </div>
</div>