<div class="flex flex-row">
    <div id="sheet-stats" class="flexflex-col">
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">STR</h1>
            <p class="text-center">{{character.STR}}</p>
        </div>
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">DEX</h1>
            <p class="text-center">{{character.DEX}}</p>
        </div>
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">CON</h1>
            <p class="text-center">{{character.CON}}</p>
        </div>
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">INT</h1>
            <p class="text-center">{{character.INT}}</p>
        </div>
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">WIS</h1>
            <p class="text-center">{{character.WIS}}</p>
        </div>
        <div class="p-2 px-4 my-2 bg-base-300 rounded-lg flex flex-col">
            <h1 class="text-center font-bold">CHA</h1>
            <p class="text-center">{{character.CHA}}</p>
        </div>
    </div>
    <div class="p-5 bg-green-600"></div>
    <div class="p-5 bg-red-600"></div>

</div>