<app-navbar></app-navbar>

<div class="max-w-4xl mx-auto mt-10 space-y-4">

    <!-- Campaign Row Start -->
    <a href="campaign/1">
        <div class="flex select-none justify-between items-start bg-base-200 p-4 rounded-lg cursor-pointer transform active:scale-95 transition-transform">
            <div>
                <h2 class="text-lg font-bold">The Goon Squad Campaign</h2>
                <p class="text-sm text-gray-500">By Gavin</p>
            </div>
            <div class="text-right">
                <p class="font-bold">Users</p>
                <ul class="text-sm text-gray-500">
                    <li>Alex</li>
                    <li>Dusty</li>
                    <li>Matthew</li>
                </ul>
            </div>
        </div>
    </a>
    <!-- Row end -->

</div>

<div class="max-w-4xl mx-auto mt-10 space-y-4">
    <div class="flex flex-row justify-center">
        <button class="btn m-3 bg-blue-500 text-white w-52">Create Campaign</button>
        <button class="btn m-3 bg-green-600 text-white w-52">Join Campaign</button>
    </div>
</div>