
.navbar {
    background-color: #333;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: start; /* Spreads out navbar items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

/* Styling for the buttons and navbar content */
.navbar button {
    background-color: transparent; /* More modern than a solid background */
    border: 1px solid white; /* Slight border */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 10px; /* Spacing between buttons */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
    border-radius: 20px; /* Rounded corners for the button */
}

.navbar button:hover {
    background-color: white;
    color: #333;
    border-color: white; /* Keep border color consistent on hover */
}

/* Additional modern touches */
.navbar button:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Adds a glow effect when focused */
}


/* Dropdown container */
.navbar .dropdown {
    position: relative;
    display: inline-block;
}   

/* Dropdown content (hidden by default) */
.navbar .dropdown-content {
    overflow: hidden;
    position: absolute;
    padding: 5%;
    left: 50%; /* Position it relative to the left edge of the dropdown */
    transform: translateX(-50%); /* Center it relative to its toggle button */
    background-color: #52515196;
    overflow-y: auto;
    overflow-x: visible;
    /* min-height: 320px;  */
    height: 400%;
    border-radius: 5px;
    outline: 0.5px solid rgb(33, 33, 33);
    scrollbar-width: thin;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}