<div class="min-h-screen flex items-center justify-center">
    <div class="w-full bg-neutral max-w-md rounded-lg shadow-md p-6">
      <h2 class="text-2xl font-semibold text-white text-center">Login</h2>
      <p class="mt-2 text-center">Access your account</p>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mt-4">
        <div class="flex flex-col mb-4">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-gray-300"
            for="login"
          >
            Username
          </label>
          <input
            class="flex h-10 w-full border border-input text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 px-3 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
            type="text"
            id="login"
            name="login"
            placeholder="Enter your username"
            required
            [(ngModel)]="loginData.username"
          />
        </div>
        <div class="flex flex-col mb-6">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-gray-300"
            for="password"
          >
            Password
          </label>
          <input
            class="flex h-10 w-full border border-input text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 px-3 py-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400"
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
            [(ngModel)]="loginData.password"
          />
        </div>
        <button
          class="inline-flex select-none items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-full py-2 px-4 bg-primary text-white rounded-md hover:bg-accent hover:text-black"
          type="submit"
          [disabled]="loading"
        >
        <span *ngIf="loading" class="loading loading-spinner"></span>
          Sign in
        </button>
      </form>
    </div>
  </div>