<app-navbar></app-navbar>
<div *ngIf="loading" class="mt-4 mb-4 flex justify-center">
    <div class="flex flex-col gap-4 w-52">
        <div class="skeleton h-32 w-full"></div>
        <div class="skeleton h-4 w-28"></div>
        <div class="skeleton h-4 w-full"></div>
        <div class="skeleton h-4 w-full"></div>
    </div>
</div>


<div *ngIf="!loading" class="flex items-center justify-center flex-auto flex-col" @fadeInOut>
    <h1 class="text-center text-5xl font-bold mt-1 mb-2">{{campaignData.name}}</h1>
    <h2 class="text-center text-1xl mb-3 text-gray-300">Campaign</h2>
    <div role="tablist" class="tabs tabs-bordered max-w-96">
        <a role="tab" class="tab" (click)="tabClick(1);" [class.tab-active]="activeTab === 1" [class.opacity-25]="activeTab !== 1">Tabletop</a>
        <a role="tab" class="tab" (click)="tabClick(2);" [class.tab-active]="activeTab === 2" [class.opacity-25]="activeTab !== 2">Overview</a>
        <a role="tab" class="tab" (click)="tabClick(3);" [class.tab-active]="activeTab === 3" [class.opacity-25]="activeTab !== 3">Shops</a>
    </div>
</div>

<div *ngIf="activeTab === 1 && !loading" class="w-64 h-64 absolute" @fadeInOut>
    This is tab 1
</div>

<div *ngIf="activeTab === 3 && !loading" class="w-64 h-64 absolute" @fadeInOut>
    This is the Shop tab
</div>

<div id="Overview Page Content" *ngIf="activeTab === 2 && !loading" class="flex flex-col justify-between w-full mt-4 h-full md:flex-row" @fadeInOut>
    <div id="Characters" class="flex-1 md:mr-10 mb-2">

        <app-create-import-char
        *ngIf="showCreateButton()"
        [campaignId]="id"
        ></app-create-import-char>

        <app-character-pill
            *ngFor="let character of characters"
            [character]="character">
        </app-character-pill>

    </div>

    <!-- Side Bar Divs -->
    <div class="flex flex-col ml-1">

        <app-player-list
        [playerlist]="playerlist"
        ></app-player-list>

    </div>
</div>
