<div class="body">
  <header>
    <nav class="navigation">
      <a href="#" class="is-active">Home</a>
      <a href="#">About</a>
      <a href="#">Service</a>
      <a href="#">Contact</a>
    </nav>
  </header>

  <section class="parallax">
    <img src="assets/hero/sky.png" id="sky" #sky>
    <img src="assets/hero/background-gradient.png" id="background" #background>
    <img src="assets/hero/sky2.png" id="sky" #sky2>
    <img src="assets/hero/archway.png" id="archway" #archway>
    <!-- <h2 id="text" #text>Sword in Stone</h2> -->
    <div id="text" #text>
      <h2 class="font-sans font-semibold">Sword in Stone</h2>
      <hr>
    </div>
    <img src="assets/hero/boulders.png" id="boulders" #boulders>
  </section>

  <section class="sec bg-base-100">
    <h2>Parallax Scroll</h2>
    <p>The Sword in stone is a website that serves to be the website where you can go to get all of yuour website things done howerver you may not always be able to work for your website when the website is not always working in the way that it works unless you know that website is the standard for which that one would if and then the end</p>
  </section>
</div>


<app-footer></app-footer>