<div class="parallax">
  <div class="parallax__layer parallax__layer--back">
      <img src="assets/hero-background.png" alt="Backdrop">
  </div>
  <div class="parallax__layer parallax__layer--middle">
      <img src="assets/hero-knight.png" alt="Knight">
  </div>
  <!-- Text layer -->
  <div class="parallax__layer parallax__layer--text">
      <h1 class="title-container">Sword in Stone</h1>
  </div>
  <div class="parallax__layer parallax__layer--front">
      <img src="assets/hero-cave.png" alt="Cave Entrance">
  </div>
</div>

<div class="content">
  <h2>Stop wasting time with DND campagins</h2>
</div>