<!-- campaign-view.component.html -->
<div class="campaign-container">
  <h1>{{ campaign?.campaignName }}</h1>
  <p class="description">{{ campaign?.campaignDescription }}</p>

  <!-- Tabs -->
  <div class="tab-container">
    <div class="tab" [ngClass]="{'active': activeTab === 'characters'}" (click)="setActiveTab('characters')">Characters</div>
    <div class="tab" [ngClass]="{'active': activeTab === 'shops'}" (click)="setActiveTab('shops')">Shops</div>
    <div class="tab" [ngClass]="{'active': activeTab === 'board'}" (click)="setActiveTab('board')">Board</div>
    <!-- Add more tabs here -->
  </div>

  <!-- Tab Content -->
  <div class="tab-content">
    <div *ngIf="activeTab === 'characters'">
      <!-- Existing characters list and create character button -->
      <div class="create-character-card">
        <button class="create-character-button" (click)="openCreateCharacterModal()">Create a Character</button>
      </div>
      <div *ngFor="let character of campaign?.playerCharacters" class="character-card">
        <img class="character-image" [src]="character.imageID" alt="{{ character.characterName }}">
        <div class="character-details">
          <h2>{{ character.characterName }}</h2>
          <!-- Add more character details here if needed -->
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'shops'">
      <p>Shops content will go here. You can edit this later.</p>
    </div>
    <div *ngIf="activeTab === 'board'">
      <p>Board content will go here. You can edit this later.</p>
    </div>
  </div>

  <app-create-character-modal *ngIf="isCreateCharacterModalOpen" (close)="closeCreateCharacterModal()"></app-create-character-modal>
</div>
