.create-character-card {
    width: 100%; /* Adjust based on your layout preference */
    max-width: 600px; 
    margin-bottom: 1rem;
    text-align: center; /* This will align the button text if the button width is less than container width */
  }
  
  .create-character-button {
    padding: 1rem 2rem; /* Adds padding inside the button */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners like the character cards */
    background-color: #007bff; /* A blue background */
    color: white; /* White text */
    font-size: 1rem; /* Adjust as needed */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    outline: none; /* Removes the outline to keep the modern look */
    width: 100%; /* Button expands to the width of its container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Similar shadow as the character cards */
  }
  
  .create-character-button:hover {
    background-color: #0056b3; /* Darker blue on hover for feedback */
  }

  .character-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-card {
    color: black;
    display: flex;
    align-items: center;
    /* width: 100%; Adjust based on your layout preference */
    max-width: 568px; 
    margin-bottom: 1rem;
    padding: 1rem;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .character-image {
    height: 50px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover; /* This will ens1ure the image covers the area without stretching */
    margin-right: 1rem;
  }
  
  .character-details {
    text-align: left;
    flex-grow: 1;
  }

  .clickable-name {
    cursor: pointer;
  }



  .content-container {
    display: flex;
    flex-direction: column;
    max-height: 100vh; /* Set the maximum height to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }

  .character-detail-section {
    background-color: #f9f9f9; /* Light background for the section */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-top: 20px; /* Space above the section */
    overflow-y: auto; /* Enable scrolling within the section */
    max-height: calc(100vh - 60px); /* Adjust height based on your header/footer */
  }


  .character-attributes {
    line-height: 1.6; /* Improve readability */
    color: #333; /* Darker text for contrast */
    font-size: 0.9rem; /* Adjust font size as needed */
  }

  .character-name {
    font-size: 1.5rem; /* Larger font size for the name */
    font-weight: bold; /* Bold font weight */
    margin-bottom: 10px; /* Space below the name */
  }
  
  .modern-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #aaa, #333, #aaa); /* Gradient line */
    margin-bottom: 20px; /* Space below the line */
  }
  
  .character-attributes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between grid items */
  }

 /* Media Query for larger screens */
@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }

  .character-container, .character-detail-section {
    flex: 1;
    margin: 10px;
  }
}