.create-character-card {
    width: 100%; /* Adjust based on your layout preference */
    max-width: 600px; /* Should match the width of the character cards */
    margin-bottom: 1rem;
    text-align: center; /* This will align the button text if the button width is less than container width */
  }
  
  .create-character-button {
    padding: 1rem 2rem; /* Adds padding inside the button */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners like the character cards */
    background-color: #007bff; /* A blue background */
    color: white; /* White text */
    font-size: 1rem; /* Adjust as needed */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    outline: none; /* Removes the outline to keep the modern look */
    width: 100%; /* Button expands to the width of its container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Similar shadow as the character cards */
  }
  
  .create-character-button:hover {
    background-color: #0056b3; /* Darker blue on hover for feedback */
  }

  .character-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-card {
    color: black;
    display: flex;
    align-items: center;
    /* width: 100%; Adjust based on your layout preference */
    max-width: 400px; /* Adjust for maximum width */
    margin-bottom: 1rem;
    padding: 1rem;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .character-image {
    height: 50px; /* Adjust as needed */
    width: 50px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover; /* This will ens1ure the image covers the area without stretching */
    margin-right: 1rem;
  }
  
  .character-details {
    text-align: left;
    flex-grow: 1;
  }